#anime {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: auto;
  margin-left: 100px;
  padding-bottom: 0;
  padding-top: 0;
}

.plus-container {
  padding-top: 0;
  padding-bottom: 0;
}

#anime td, #anime th {
  border: 1px solid #ddd;
  padding: 8px;
}

#anime tr:nth-child(even){background-color: #f2f2f2;}

#anime tr:hover {background-color: #ddd;}

#anime th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}